:root{
	--mainColor:#c7a866;
	--secondaryColor:#c4a35a;

	--borderColor:#333;

	--mainText:#fff;
	--secondaryText:#eeeeee;

	--themeDotBorder:#FFF;

	--previewBg:rgb(81, 90, 72, 0.8);
	--previewShadow:#2a2f253d;


	--buttonColor:#669966;


}
